body {
  background-color: #840303;
  opacity: 1;
  background-image: url("./Images/Background.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 1100px auto;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style-type: none;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: transparent;
  height: 100%;
  position: fixed;
  overflow: auto;
  font-family: Helvetica;
  background-color: #840303;
  opacity: 1;
  background-image: url("./Images/ulBackground.jpg");
  background-repeat: no-repeat;
  background-size: auto 730px;
  background-position: bottom;
}
li button {
  display: block;
  color: #000;
  padding: 8px 20px;
  text-decoration: none;
  size: 30px;
  border: 1px solid #fcfdbd;
}
a {
  text-decoration: none;
}
.split {
  height: 100%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  top: 0;
  left: 0;
  background-color: transparent;
}
.right {
  right: 0;
  background-color: #840303;
  opacity: 1;
  background-image: url("./Images/Background.jpg");
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
  z-index: -1;
  border-radius: 10px;
}
td {
  border: 1px solid black;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  background-color: #fcfdbd;
}
img {
  width: 90px;
}
button {
  background-color: transparent;
  border: solid black;
  display: inherit;
  font-size: 16px;
  width: 100%;
  padding-left: 0%;
}
button:hover {
  background-color: #840303;
  color: rgba(227, 187, 27, 255);
  font-size: 20px;
}
#myVideo {
  width: 72em;
  padding: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  left: 25%;
}
.about {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  width: 50%;
  border-style: groove;
  padding: 10px;
  margin: 20px;
  background-color: rgba(227, 187, 27, 255);
  border-color: #840303;
}
h2 {
  color: #840303;
  font-size: 40px;
}
p {
  font-size: 20px;
}
.content {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 72%;
  padding: 20px;
}
